#titleAndInput {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
}

#inputAndButton {
  display: flex;
  flex-direction: column;
  margin-top: 35px;
}

  input[type="text"] {
    text-align: center;
  }

#card {
  display: flex;
  border-width: 1px;
  border-radius: 5px;
  overflow: hidden;
  margin-top: 40px;
  padding: 8px;
}