html, body {
  width: 100%;
  height: 100%;
}

body {
  /* !Important to override ChakraUI default styling*/
  background-color: #E9EAEC !important;
}

main {
  /* !Important to override ChakraUI default styling*/
  display: flex !important;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-height: 100%;
}